@import "/sass/utils/variables";
@import "/sass/components/hero-header";
@import "/sass/components/about";
@import "/sass/components/prices";
@import "/sass/components/reasons";
@import "/sass/components/masters";
@import "/sass/components/portfolio";
@import "/sass/components/footer";

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #fff;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  display: block;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1280px) {
    width: 1080px;
  }
}
